body{
    margin: 0;
    padding: 0;
}

.main{
    display: flex;
    gap: 10px;
}

.homePicture{
    position: relative;
}

#spacePicture{
    height: 100%;
}

.caption{
    position: absolute;
    background: transparent;
    opacity: 0.8;
    color: white;
    top: 8rem;
    text-align: center;
    font-size: 1.2em;
}

.mainHeader{
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    font-style: normal;

}

.fields{
    display: flex;
    gap: 30px;
}

.left-fields{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.right-fields{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.set{
    display: flex;
    flex-direction: column;
}

input{
    width: 70%;
}

.description{
    background-color: whitesmoke;
}

.accountSection{
    margin-top: 20px;
    background-color: whitesmoke;
}
